extends ../../layouts/account

block head
  title Workbench
  script(type='text/javascript' src='/vendor/jquery/jquery.js' )
  script(type='text/javascript' src='/vendor/jquery.cookie/jquery.cookie.js')
  script(type='text/javascript' src='/js/jquery.form.js')
  script(type='text/javascript' src='/vendor/underscore/underscore.js')
  script(type='text/javascript' src='/vendor/backbone/backbone.js')
  script(type='text/javascript' src='/js/backbone/publish/publish.js')
  script(type='text/javascript' src='/vendor/bootstrap/js/modal.js')
  script(type='text/javascript' src='/vendor/bootstrap-select/dist/js/bootstrap-select.min.js')
  link(rel='stylesheet' href='/vendor/bootstrap-select/dist/css/bootstrap-select.css')
  script(type='text/javascript' src='/vendor/momentjs/moment.js')
  script(type='text/javascript' src='/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  link(rel='stylesheet' href='/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
  script( type="text/javascript" src="/vendor/noty/js/jquery.noty.packaged.min.js")
  script(type='text/javascript' src='/js/file_uploads.js')
block neck
  script(type='text/javascript' src='/views/workbench/dataSourcesDetailsModal.js')
  script(type='text/javascript' src='/views/workbench/logicalSourcesDetailsModal.js')
  script(type='text/javascript' src='/views/workbench/mappingDefinitionsDetailsModal.js')
  script(type='text/javascript' src='/views/workbench/scheduleModal.js')
  script(type='text/javascript' src='/views/workbench/executionModal.js')
  script(type='text/javascript' src='/views/workbench/descriptionsTab.js')
  link(rel='stylesheet', href='/layouts/rml.css')
  link(rel='stylesheet', href='/layouts/animate.css')
  script(type='text/javascript' src='/vendor/nprogress/nprogress.js')
  link(rel='stylesheet', href='/vendor/nprogress/nprogress.css')


block feet

  script(src='/views/workbench/index.js')

mixin licensesId(Id)
  div.form-group
    label(for=Id) License
    select.selectpicker.form-control(id=Id data-live-search='true' title="Choose a license.")
      each cat in licenses
        optgroup(label=cat[0].category)
          each l in cat
              option= l.name + ' (' + l.abbreviation + ')'

block body




  div(id='upload-logical' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload an logical file
        div.modal-body
          form(role='form')
            div.form-group
              label(for='logicalFileName') Name
              input.form-control(id='logicalFileName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='my-file-selector') File
              input(id='my-file-selector' type='file' data-allowed-file-extensions="['csv', 'xml', 'txt', 'json']")
              p.help-block Only CSV, XML and JSON are supported.
            //+licensesId('logicalFileLicense')
            button.btn.btn-primary(id="btn_file_logical") Upload





  div(id='dcat-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='DCATInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add a Data Catalog.
        div.modal-body
          form(role='form' id='dcat_input_Form' action='/workbench/fetch/dcat')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputDCATName') Name
              input.form-control.required(id='inputDCATName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputDCATURL') URL
              input.form-control.required(id='inputDCATURL' type='text' placeholder='url')
            //+licensesId('inputDCATLicense')
            button.btn.btn-primary(id="btn_dcat_input" form="dcat_input_Form" type='submit') Add





  div(id='dcat-logical' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='DCATInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add a Data Catalog.
        div.modal-body
          form(role='form' id='dcat_logical_Form' action='/workbench/fetch/logical_dcat')
            logical(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='logicalDCATName') Name
              input.form-control.required(id='logicalDCATName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='logicalDCATSource') Type
              select.selectpicker.form-control(id='logicalDCATSource' title='Source')
                option POPULATE FROM THE PREVIOUS STEP
            div.form-group
              label(for='logicalDCATType') Reference Formulation
              select.selectpicker.form-control(id='logicalDCATType' title='referenceFormulation')
                option JSON
                option CSS3
                option XML
                option CSV
            div.form-group
              label(for='logicalDCATIterator') Iterator
              input.form-control.required(id='logicalDCATIterator' type='text' placeholder=':')
            //+licensesId('logicalDCATLicense')
            button.btn.btn-primary(id="btn_dcat_logical" form="dcat_logical_Form" type='submit') Add






  div(id='db-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='databaseInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add a Database description
        div.modal-body
          form(role='form' id='db_input_Form' action='/workbench/fetch/db')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputDBName') Name
              input.form-control(id='inputDBName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputDBURL') URL
              input.form-control(id='inputDBURL' type='text' placeholder='url')
            div.form-group
              label(for='inputDBDriver') JDBC driver
              select.selectpicker.form-control(id='inputDBDrive')
                option(value="com.mysql.jdbc.Driver") MySQL
                option(value="postgresql.Driver") PostgreSQL (v6.5 and earlier)
                option(value="org.postgresql.Driver") PostgreSQL (v7.0 and later)
                option(value="org.firebirdsql.jdbc.FBDriver") Firebird (JCA/JDBC Driver)
                option(value="oracle.jdbc.OracleDriver") Oracle OCI
                option(value="org.h2.Driver") H2 Database Engine
                option(value="hSql.hDriver") Hypersonic SQL (v1.2 and earlier)
                option(value="org.hsqldb.jdbcDriver") Hypersonic SQL (v1.3 and later)
                option(value="com.ibm.db2.jcc.DB2Driver") IBM DB2
                option(value="com.ibm.as400.access.AS400JDBCDriver") IBM DB2 for iSeries
                option(value="org.apache.derby.jdbc.EmbeddedDriver") Apache Derby
                option(value="com.teradata.jdbc.TeraDriver") Teradata
                option(value="com.sybase.jdbc3.jdbc.SybDriver") Sybase (jConnect 5.2)
                option(value="com.microsoft.sqlserver.jdbc.SQLServerDriver") Microsoft SQL Server 2000 (Microsoft Driver)
                option(value="net.sourceforge.jtds.jdbc.Driver") SQL Server (jTDS driver)
            div.form-group
              label(for='inputDBUser') Username
              input.form-control(id='inputDBUser' type='text' placeholder='user')
            div.form-group
              label(for='inputDBPass') Password
              input.form-control(id='inputDBPass' type='password' placeholder='password')
            //+licensesId('inputDBLicense')
            button.btn.btn-primary(form="db_input_Form" type="submit") Add






  div(id='db-logical' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='databaseInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add a Database description
        div.modal-body
          form(role='form' id='db_logical_Form' action='/workbench/fetch/logical_db')
            logical(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='logicalDBName') Name
              input.form-control(id='logicalDBName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='logicalDBSource') Source
              select.selectpicker.form-control(id='logicalDBSource' title='Source')
                option POPULATE FROM THE PREVIOUS STEP
            div.form-group
              label(for='logicalDBQuery') Data Query
              textarea.form-control(id='logicalDBQuery' rows="2")
            //+licensesId('logicalDBLicense')
            button.btn.btn-primary(form="db_logical_Form" type="submit") Add





  div(id='api-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='apiInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add an Web API
        div.modal-body
          form(role='form' id='api_input_Form' action='/workbench/fetch/api')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputAPIName') Name
              input.form-control(id='inputAPIName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputAPIURL') Template URL
              input.form-control(id='inputAPIURL' type='text' placeholder='url')
            //+licensesId('inputAPILicense')
            button.btn.btn-primary(id="btn_api_input" form="api_input_Form" type='submit' data-dismiss="modal") Add

  div(id='api-logical' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='apiInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add an Web API
        div.modal-body
          form(role='form' id='api_logical_Form' action='/workbench/fetch/logical_api')
            logical(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='logicalAPIName') Name
              input.form-control(id='logicalAPIName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='logicalAPISource') Source
              select.selectpicker.form-control(id='logicalAPISource' title='Source')
                option POPULATE FROM THE PREVIOUS STEP
            div.form-group
              label(for='logicalAPIType') Reference Formulation
              select.selectpicker.form-control(id='logicalAPIType' title='referenceFormulation')
                option JSON
                option CSS3
                option XML
                option CSV
            div.form-group
              label(for='logicalAPIIterator') Iterator
              input.form-control(id='logicalAPIIterator' type='text' placeholder='$')
            //+licensesId('logicalAPILicense')
            button.btn.btn-primary(id="btn_api_logical" form="api_logical_Form" type='submit' data-dismiss="modal") Add

  div(id='sparql-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='sparqlInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add an SPARQL endpoint
        div.modal-body
          form(role='form' id='sparql_input_Form' action='/workbench/fetch/sparql')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputSparqlName') Name
              input.form-control(id='inputSparqlName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputSparqlURL') Source
              input.form-control(id='inputSparqlURL' type='text' placeholder='URL')
            div.form-group
              label(for='inputSparqlType') Type
              select.selectpicker.form-control(id='inputSparqlType' title='Type')
                option JSON
                option XML
                option CSV
            //+licensesId('inputSparqlLicense')
            button.btn.btn-primary(id="btn_sparql_input" form="sparql_input_Form" type='submit') Add

   div(id='sparql-logical' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='sparqlLogicalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add an SPARQL logical source
        div.modal-body
          form(role='form' id='sparql_logical_Form' action='/workbench/fetch/logical_sparql')
            logical(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='LogicalSparqlName') Name
              input.form-control(id='LogicalSparqlName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='logicalSparqlSource') Type
              select.selectpicker.form-control(id='logicalSparqlSource' title='Source')
                option POPULATE FROM THE PREVIOUS STEP
            div.form-group
              label(for='logicalSparqlRef') Reference Formulation
              select.selectpicker.form-control(id='logicalSparqlRef' title='referenceFormulation')
                option JSON
                option CSS3
                option XML
                option CSV
            div.form-group
              label(for='logicalSparqlIterator') Iterator
              input.form-control(id='logicalSparqlIterator' type='text' placeholder='/')
            div.form-group
              label(for='logicalSparqlQuery') DataQuery
              textarea.form-control(id='logicalSparqQuery' rows="2")
            //+licensesId('logicalSparqlLicense')
            button.btn.btn-primary(id="btn_sparql_logical" form="sparql_logical_Form" type='submit') Add

  div(id='csvw-input' class='modal' tabindex='-1' role='dialog' aria-labelledby='csvwInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close' id='closeCSVW')
            span(aria-hidden='true') ×
          h4.modal-title Add a CSV on the Web description
        div.modal-body
          form(role="form" id='csvw_input_Form' action='/workbench/fetch/csvw')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputcsvwName') Name
              input.form-control(id='inputcsvwName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputcsvwURL') URL
              input.form-control(id='inputcsvwURL' type='text' placeholder='URL')
            div.form-group
              label(for='inputcsvwDelimiter') Delimiter
              input.form-control(id='inputcsvwDelimiter' type='text' placeholder='')
            div.form-group
              label(for='inputcsvwHeader') Header
              input.form-control(id='inputcsvwHeader' type='text')
            div.form-group
              label(for='inputcsvwEncoding') Encoding
              select.selectpicker.form-control(id='inputcsvwType')
                option utf-8
                option ibm866
                option iso-8859-2
                option iso-8859-3
                option iso-8859-4
                option iso-8859-5
                option iso-8859-6
                option iso-8859-7
                option iso-8859-8
                option iso-8859-8-i
                option iso-8859-10
                option iso-8859-13
                option iso-8859-14
                option iso-8859-15
                option iso-8859-16
                option koi8-r
                option koi8-u
                option macintosh
                option windows-874
                option windows-1250
                option windows-1251
                option windows-1252
                option windows-1253
                option windows-1254
                option windows-1255
                option windows-1256
                option windows-1257
                option windows-1258
                option x-mac-cyrillic
                option gbk
                option gb18030
                option big5
                option euc-jp
                option iso-2022-jp
                option shift_jis
                option euc-kr
                option utf-16be
                option utf-16le
            //+licensesId('inputcsvwLicense')
            button.btn.btn-primary(form='csvw_input_Form' type="submit") Add


  div(id='executeMapping' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='executeMapping' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Execute mapping
        div.modal-body
          form(role='form')
            div.form-group
              label Name
              input(class="form-control" id="executionOutputName" placeholder="Enter file name for the output")
              label Select triples
              div(class="well triplewell")
                div
                    label
                        input(id='selectAllCheckbox' type="checkbox")
                        | Select all
                div(id='triplelistdiv' class='workbenchElement')
                script#triplelist(type='text/template').
                    <div>
                        <label>
                            <input class='radioTriple' id='radioAllTriples' type="checkbox">
                            <%= triplename %>
                        </label>
                    </div>

        div.modal-footer
          button(class='btn btn-primary' data-dismiss="modal" id='executeMappingBtn') Execute




  div(id='upload-source' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload a source file
        div.modal-body
          form(id='uploadSource_Form' action='/workbench/fetch/input')

              label(for='source-file-selector') File
              input(id='sourceFile' name='sourceUpload' type='file' data-allowed-file-extensions="['csv','xml']")
              p.help-block All files are supported.
              +licensesId('sourceUploadLicense')
              button.btn.btn-primary(id="submitSourceUpload" type='submit') Upload

  div(id='upload-mapping' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload an RML file
        div.modal-body
          form(id='uploadMapping_Form' action='/workbench/fetch/mapping')

              label(for='mapping-file-selector') File
              input(id='mappingFile' name='mappingUpload' type='file' data-allowed-file-extensions="['rml','rml.ttl']")
              p.help-block Only RML files are supported.
              +licensesId('mappingUploadLicense')
              button.btn.btn-primary(id="submitMappingUpload" type='submit') Upload

   div(id='upload-publishing' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload RML file
        div.modal-body
          form(id='uploadPublishing_Form' action='/workbench/fetch/rdf')
              label(for='publishing-file-selector') File
              input(id='publishingFile' name='rdfUpload' type='file' data-allowed-file-extensions="['rdf, ttl, rdf.ttl']")
              p.help-block RDF files in turle format are supported.
              +licensesId('publishUploadLicense')
              button.btn.btn-primary(id="submitPublishingUpload" type='submit') Upload


   div(id='jobmodal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Job details
        div.modal-body
          button.btn.btn-primary(id="cancel_job") Cancel job




   div(id='publish' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Publish To LDF Server
        div.modal-body
          form(role='form' id='publishToLDFForm')
            input(type='hidden', name='_csrf', value=_csrf)
            div(class='form-group')
              label(for='title')
                | Title
              input(class='form-control' id='publish_title' placeholder='Enter title')

            button(type='submit' id='publish_submit' form="publishToLDFForm" class='btn btn-primary')
                | Publish

   div(id='scheduleModal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Schedule Publishing
        div.modal-body(id='scheduleModalFooter')
          form(id="scheduleForm" role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div(class='form-group')
              label(for='title')
                | Name
              input(class='form-control' id='scheduleTitle' placeholder='Enter file name for output')
            div(class='form-group')
              label(for='mapping')
                | Mapping
              select(id='scheduleMappingList' class='form-control')
              br
              div(class="well")
                ul(id='scheduleMappingWellList')
              label
                | Publish
              br
              label
                input(type="checkbox" id='toBePublished')
                |  LDF Server
              input(class='form-control' id='publishTitle' placeholder='Enter title for dataset')
            div(class='form-group')
              label(for='time')
                | Schedule
              //
                div.input-group
                    | Every
                    input(class='form-control' type='number' id='time' value='2')
                    select(name='mapping' id='mapping' class='form-control')
                    option(value='Hour')
                        | Hours
                    option(value='Daily')
                        | Days
                    option(value='Weekly')
                        | Weeks
                    option(value='Monthly')
                        | Months
              p Date
              div.input-group.date(id="datetimepicker1")
                input.form-control(type="text" id='scheduleDate' placeholder='Enter date for execution')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
            script.
              (function($) {
                "use strict";
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  locale: 'en'
                });
              });})(jQuery)
            div(class='form-group')
              label(for='description')
                | Description
              input(class='form-control' id='scheduleDescription' placeholder='Enter description')
            button( id='scheduleButton' type='submit' data-dismiss="modal" class='btn btn-primary')
                | Schedule


  div(id='logicalSourcesDetailsModal'  class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4.modal-title Logical sources
        div.modal-body
          label Select a logical source:
          select(id='logicalSourcesSelect' class='form-control')
          br
          pre(id='logicalSourcePre')
        div.modal-footer

          button(id='removeLogicalSourceBtn' type='submit' class='btn btn-default' data-dismiss="modal")
            | Remove
          button(id='editLogicalSourceBtn' data-toggle="modal" data-target="#editLogicalSourceModal" class='btn btn-default')
            | Edit
          button(id='addLogicalSourceBtn' data-toggle="modal" data-target="#editLogicalSourceModal" class='btn btn-default')
            | Add
          button(type='submit' class='btn btn-default' data-dismiss="modal")
            | Back

  div(id='editLogicalSourceModal' data-backdrop='false' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4.modal-title Edit logical source
        div.modal-body(id="editLogicalSourceBody")

        div.modal-footer
          button(id='saveLogicalSourceBtn' data-dismiss="modal"  class='btn btn-default')
            | Save
          button(class='btn btn-default' data-dismiss="modal")
            | Back


  div(id='mappingDefinitionsDetailsModal'  class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4.modal-title Mapping definitions
        div.modal-body
          label Select a mapping definition:
          select(id='mappingDefinitionsSelect' class='form-control')
          br
          pre(id='mappingDefinitionsPre')
        div.modal-footer
          button(id='editMappingDefinitionBtn' data-toggle="modal" data-target="#editMappingDefinitionModal" class='btn btn-default')
            | Edit
          button(type='submit' class='btn btn-default' data-dismiss="modal")
            | Back

  div(id='editMappingDefinitionModal' data-backdrop='false' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4.modal-title Edit mapping definition
        div.modal-body(id="editMappingDefinitionBody")

        div.modal-footer
          button(id='saveMappingDefinitionBtn' data-dismiss="modal"  class='btn btn-default')
            | Save
          button(class='btn btn-default' data-dismiss="modal")
            | Back


  div(id='dataSourcesDetailsModal'  class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4.modal-title data sources
        div.modal-body
          label Select a data source:
          select(id='dataSourcesSelect' class='form-control')
          br
          pre(id='dataSourcePre')
        div.modal-footer
          button(id='removeDataSourceBtn' class='btn btn-default')
            | Remove
          button(id='editDataSourceBtn' data-toggle="modal" data-target="#editDataSourceModal" class='btn btn-default')
            | Edit
          button( data-toggle="modal" data-target="#editDataSourceModal" class='btn btn-default')
            | Add
          button(type='submit' class='btn btn-default' data-dismiss="modal")
            | Back

  div(id='editDataSourceModal' data-backdrop='false' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4.modal-title Edit data source
        div.modal-body(id="editDataSourceBody")

        div.modal-footer
          button(id='saveDataSourceBtn' data-dismiss="modal"  class='btn btn-default')
            | Save
          button(class='btn btn-default' data-dismiss="modal")
            | Back






  ul#myTab.nav.nav-tabs.tabs-left.sideways.primary
      li.active(class="menuTab")
        a(href='#local', data-toggle='tab')
          | Local files
      li(class="menuTab")
        a(href='#access', data-toggle='tab')
          | Data Sources
      li(class="menuTab")
        a(href='#logical', data-toggle='tab')
          | Logical Sources
      li(class="menuTab")
        a(href='#mapping2', data-toggle='tab')
          | Mapping
      li(class="menuTab")
        a(href='#publishing', data-toggle='tab')
          | Publish
      li(class="menuTab")
        a(href='#schedule', data-toggle='tab')
          | Schedule








    #myTabContent.tab-content
      #local.tab-pane.fade.in.active
        br
        div.container-fluid(id='sourceFileContainer')
          div.row
            div.col-md-3(id='sourceFileButtons')
              div(class='panel panel-info')
                div.panel-heading
                  div.row
                    div.col-md-9
                      h3.panel-title Local files
                    div.col-md-1
                      div.dropdown
                        button#dropdownInput.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                          span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownInput')
                          li
                            a(href='#' data-toggle='modal' data-target='#upload-source') Upload file
                          li
                            a(href='#' id='clearLocalFile') Remove selected file
                          li
                            a(href='#' id='clearAllLocalFiles') Remove all local files
                div.panel-body.text-center(id='localMain')



            div.col-md-9
              div.panel.panel-info
                div.panel-heading
                  div.row
                    div.col-md-4
                      h3.panel-title Content
                    div.col-md-1.col-md-offset-7
                      div.dropdown
                      button#dropdownInput2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        span(class="glyphicon glyphicon-menu-hamburger")
                      ul.dropdown-menu(aria-labelledby='dropdownInput2')
                        li
                          a(href='#') Details

                div.panel-body(id='localFileBody')
                  div.row
                    div.col-md-6
                      h4(id='localTitle')
                  div.row
                    div.col-md-12(id='localFileContent')
                      pre#localpre

      #access.tab-pane.fade
        br
        div.container-fluid(id='inputContainer')
         div.row
           div.col-md-3(id='inputButtons')
             div(class='panel panel-info')
               div.panel-heading
                 div.row
                   div.col-md-9
                     h3.panel-title Data sources
                   div.col-md-1
                     div.dropdown
                        button#dropdownInput.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownInput')
                            li
                              a(href='#' data-toggle='modal' data-target='#db-input') Database
                            li
                              a(href='#' data-toggle='modal' data-target='#dcat-input') DCAT
                            li
                              a(href='#' data-toggle='modal' data-target='#api-input') Web API
                            li
                              a(href='#' data-toggle='modal' data-target='#sparql-input') SPARQL
                            li
                              a(href='#' data-toggle='modal' data-target='#csvw-input') CSVW
                            li.divider( role="separator")
                            li
                              a(href='#' id='clearDescriptionBtn') Remove selected source
                            li
                              a(href='#' id='clearDescriptionsBtn') Remove all sources
               div.panel-body.text-center(id='descriptionMain' class='workbenchElement')


           div.col-md-9
             div.panel.panel-info
               div.panel-heading
                   div.row
                     div.col-md-4
                       h3.panel-title Content
                     div.col-md-1.col-md-offset-7
                       div.dropdown
                       button#dropdownInput2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                           span(class="glyphicon glyphicon-menu-hamburger")
                       ul.dropdown-menu(aria-labelledby='dropdownInput2')
                           li
                               a(href='#' data-toggle='modal' data-target='#') Edit
                           li
                               a(href='#') Details

               div.panel-body(id='inputBody')
                   div.row
                     div.col-md-6
                       h4(id='inputTitle')
                   div.row
                     div.col-md-12(id='descriptionContent' class='workbenchElement')
                       pre#descriptionpre





      #logical.tab-pane.fade
        br
        div.container-fluid(id='logicalContainer')
         div.row
           div.col-md-3(id='logicalButtons')
             div(class='panel panel-info')
               div.panel-heading
                 div.row
                   div.col-md-9
                     h3.panel-title Logical Sources
                   div.col-md-1
                     div.dropdown
                        button#dropdownLogical.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownLogical')
                            li
                              a(href='#' data-toggle='modal' data-target='#dcat-logical') DCAT
                            li
                              a(href='#' data-toggle='modal' data-target='#api-logical') API
                            li
                              a(href='#' data-toggle='modal' data-target='#db-logical') Database
                            li
                              a(href='#' data-toggle='modal' data-target='#sparql-logical') SPARQL
                            li.divider( role="separator")
                            li
                              a(href='#' id='clearLogical') Remove selected source
                            li
                              a(href='#' id='clearAllLogicals') Remove all sources
               div.panel-body.text-center(id='logicalMain' class='workbenchElement')

                 script#logical-list-item(type='text/template').
                       <h5><%= name %></h5>

           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 div.row
                   div.col-md-4
                     h3.panel-title Content
                   div.col-md-1.col-md-offset-7
                     div.dropdown
                        button#dropdownLogical2.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownLogical2')
                            li
                                a(href='#' data-toggle='modal' data-target='#') Edit
                            li
                                a(href='#') Details

               div.panel-body(id='logicalBody')
                 div.row
                   div.col-md-6
                     h4(id='logicalTitle')
                 div.row
                   div.col-md-12(id='logicalContent' class='workbenchElement')
                     script#logical-content(type='text/template').
                       <%= convertedData %>

      #mapping2.tab-pane.fade
        br
        div.container-fluid(id='mappingContainer')
         div.row
           div.col-md-3(id='mappingButtons')
             div(class='panel panel-info')
               div.panel-heading
                 div.row
                   div.col-md-9
                     h3.panel-title Mapping files
                   div.col-md-1
                     div.dropdown
                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                            li
                              a(href='#' data-toggle='modal' data-target='#upload-mapping') Upload file
                            li
                              a(href='#' id='clearMapping') Clear selected file
                            li
                              a(href='#' id='clearAllMappings') Clear all files
               div.panel-body.text-center(id='mappingMain' class='workbenchElement')

                 script#mapping-list-item(type='text/template').
                       <h5><%= filename %></h5>


           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 div.row
                   div.col-md-4
                     h3.panel-title Content
                   div.col-md-1.col-md-offset-7
                     div.dropdown
                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                            li
                                a(href='#' data-toggle='modal' data-target='#executeMapping' id='executeModalBtn') Execute
                            li
                                a(href='#' id="pretty") Pretty version
                            li
                                a(href='#' id="blanknode") Blank nodes version
                            li
                                a(href='#' data-toggle='modal' data-target='#dataSourcesDetailsModal' id="dataSourcesDetailsBtn") Data sources
                            li
                                a(href='#' data-toggle='modal' data-target='#logicalSourcesDetailsModal' id="logicalSourcesDetailsBtn") Logical sources
                            li
                                a(href='#' data-toggle='modal' data-target='#mappingDefinitionsDetailsModal' id="mappingDefinitionsDetailsBtn") Mapping definitions
                            li
                                a(href='#') Details
                            
               div.panel-body(id='mappingBody')
                 div.row 
                   div.col-md-6
                     h4(id='mappingTitle')          
                 div.row                           
                   div.col-md-12(id='mappingContent' class='workbenchElement')
                     script#mapping-content(type='text/template').
                       <%= convertedData %>
                       
      #publishing.tab-pane.fade
        br
        div.container-fluid(id='publishContainer')
         div.row
           div.col-md-3
             div(class='panel panel-info')
               div.panel-heading
                 div.row
                   div.col-md-9            
                     h3.panel-title Publishing files
                   div.col-md-1   
                     div.dropdown
                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                            li
                              a(href='#' data-toggle='modal' data-target='#upload-publishing') Upload file                            
                            li
                              a(href='#' id='clearPublishing') Clear selected file
                            li
                              a(href='#' id='clearAllPublishings') Clear all files                  
               div.panel-body.text-center(id='publishMain' class='publishElement')
               
                 script#publish-list-item(type='text/template').
                   <h5><%= filename %></h5>
           div.col-md-9
             div.panel.panel-info
               div.panel-heading
                 div.row
                   div.col-md-4            
                     h3.panel-title Content
                   div.col-md-1.col-md-offset-7   
                     div.dropdown
                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                            li
                              a(href='#' data-toggle='modal' data-target='#publish') Publish to LDF Server
                            li
                              a(href='#' ) Details
                             
               div.panel-body(id='publishBody')
                  div.row 
                     div.col-md-6
                       h4(id='publishingTitle')  
                  div.row                                             
                      div.col-md-12(id='publishContent' class='publishElement')
                        script#publish-content(type='text/template').
                          <%= convertedData %>
                          
                    
                   

      #schedule.tab-pane.fade
        br
        div.container-fluid(id='scheduleContainer')
         div.row
           
           div.col-md-12
            div.panel.panel-info
               div.panel-heading
                 div.row
                   div.col-md-11           
                     h3.panel-title Overview schedules
                   div.col-md-1   
                     div.dropdown
                        button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                            span(class="glyphicon glyphicon-menu-hamburger")
                        ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                            li
                              a(href='#' data-toggle='modal' id="openScheduleModalBtn" data-target='#scheduleModal') Add job
               div.panel-body(id='scheduleBody')                              
                 table.table(id='scheduleTable')
                    tr
                    th Name
                    
                    th Date          
                    
                    th Description
                    
                    th Executed    
                                           
                        
                   
                           
                        

