extends ../../layouts/account

block head
  title Workbench
  script(type='text/javascript' src='/vendor/jquery/jquery.js' )
  script(type='text/javascript' src='/vendor/jquery.cookie/jquery.cookie.js')
  script(type='text/javascript' src='/js/jquery.form.js')
  script(type='text/javascript' src='/vendor/underscore/underscore.js')
  script(type='text/javascript' src='/vendor/backbone/backbone.js')
  script(type='text/javascript' src='/js/backbone/publish/publish.js')
  script(type='text/javascript' src='/vendor/bootstrap/js/modal.js')
  script(type='text/javascript' src='/vendor/bootstrap-select/bootstrap-select.min.js')
  script(type='text/javascript' src='/vendor/momentjs/moment.js')
  script(type='text/javascript' src='/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js')
  script(type='text/javascript' src='/js/file_uploads.js')
block neck
  link(rel='stylesheet', href='/vendor/bootstrap-select/bootstrap-select.min.css')
  link(rel='stylesheet', href='/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js')
  link(rel='stylesheet', href='/layouts/rml.css')

block feet
  
  script(src='/views/workbench/index.js')



mixin licensesId(Id)
  div.form-group
    label(for=Id) License
    select.selectpicker.form-control(id=Id data-live-search='true' title="Choose a license.")
      each cat in licenses
        optgroup(label=cat[0].category)
          each l in cat
              option= l.name + ' (' + l.abbreviation + ')'

block body

  div(id='upload-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload an input file
        div.modal-body
          form(role='form')
            div.form-group
              label(for='inputFileName') Name
              input.form-control(id='inputFileName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='my-file-selector') File
              input(id='my-file-selector' type='file' data-allowed-file-extensions="['csv', 'xml', 'txt', 'json']")
              p.help-block Only CSV, XML and JSON are supported.
            +licensesId('inputFileLicense')
            button.btn.btn-primary(id="btn_file_input") Upload

  div(id='dcat-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='DCATInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add a Data Catalog.
        div.modal-body
          form(role='form' id='dcat_input_Form' action='/workbench/fetch/dcat')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputDCATName') Name
              input.form-control(id='inputDDCATName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputDCATURL') URL
              input.form-control(id='inputDCATURL' type='text' placeholder='url')
            +licensesId('inputDCATLicense') 
            button.btn.btn-primary(id="btn_dcat_input" form="dcat_input_Form" type='submit') Add

  div(id='db-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='databaseInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add a Database description
        div.modal-body
          form(role='form' id='db_input_Form' action='/workbench/fetch/db')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputDBName') Name
              input.form-control(id='inputDBName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputDBURL') URL
              input.form-control(id='inputDBURL' type='text' placeholder='url')
            div.form-group
              label(for='inputDBDriver') JDBC driver
              select.selectpicker.form-control(id='inputDBDrive')
                option com.mysql.jdbc.Driver
                option org.firebirdsql.jdbc.FBDriver
                option oracle.jdbc.OracleDriver
                option org.h2.Driver
                option org.hsqldb.jdbcDriver
                option com.ibm.db2.jcc.DB2Driver
                option com.ibm.as400.access.AS400JDBCDriver
                option org.apache.derby.jdbc.EmbeddedDriver
                option com.teradata.jdbc.TeraDriver
                option com.sybase.jdbc3.jdbc.SybDriver
                option com.microsoft.sqlserver.jdbc.SQLServerDriver
                option net.sourceforge.jtds.jdbc.Driver
            div.form-group
              label(for='inputDBUser') Username
              input.form-control(id='inputDBUser' type='text' placeholder='user')
            div.form-group
              label(for='inputDBPass') Password
              input.form-control(id='inputDBPass' type='password' placeholder='password')
            +licensesId('inputDBLicense') 
            button.btn.btn-primary(form="db_input_Form" type="submit") Add

  div(id='api-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='apiInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add an Web API
        div.modal-body
          form(role='form' id='api_input_Form' action='/workbench/fetch/api')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputAPIName') Name
              input.form-control(id='inputAPIName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputAPIURL') Template URL
              input.form-control(id='inputAPIURL' type='text' placeholder='url')
            +licensesId('inputAPILicense') 
            button.btn.btn-primary(id="btn_api_input" form="api_input_Form" type='submit' data-dismiss="modal") Add

  div(id='sparql-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='sparqlInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Add an SPARQL endpoint
        div.modal-body
          form(role='form' id='sparql_input_Form' action='/workbench/fetch/sparql')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputSparqlName') Name
              input.form-control(id='inputSparqlName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputSparqlURL') Source
              input.form-control(id='inputSparqlURL' type='text' placeholder='URL')
            div.form-group
              label(for='inputSparqlType') Type
              select.selectpicker.form-control(id='inputSparqlType' title='Type')
                option JSON
                option XML
                option CSV              
            div.form-group
              label(for='inputSparqlIterator') Iterator
              input.form-control(id='inputSparqlIterator' type='text' placeholder='/')
            div.form-group
              label(for='inputSparqlQuery') DataQuery
              textarea.form-control(id='inputSparqQuery' rows="2")      
            +licensesId('inputSparqlLicense')                           
            button.btn.btn-primary(id="btn_sparql_input" form="sparql_input_Form" type='submit') Add
            
            
  div(id='csvw-input' class='modal' tabindex='-1' role='dialog' aria-labelledby='csvwInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close' id='closeCSVW')
            span(aria-hidden='true') ×
          h4.modal-title Add a CSV on the Web description
        div.modal-body
          form(role="form" id='csvw_input_Form' action='/workbench/fetch/csvw')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputcsvwName') Name
              input.form-control(id='inputcsvwName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputcsvwURL') URL
              input.form-control(id='inputcsvwURL' type='text' placeholder='URL')
            div.form-group
              label(for='inputcsvwDelimiter') Delimiter
              input.form-control(id='inputcsvwDelimiter' type='text' placeholder='')
            div.form-group
              label(for='inputcsvwHeader') Header
              input.form-control(id='inputcsvwHeader' type='text')
            div.form-group
              label(for='inputcsvwEncoding') Encoding
              select.selectpicker.form-control(id='inputcsvwType')
                option utf-8
                option ibm866
                option iso-8859-2
                option iso-8859-3
                option iso-8859-4
                option iso-8859-5
                option iso-8859-6
                option iso-8859-7
                option iso-8859-8
                option iso-8859-8-i
                option iso-8859-10
                option iso-8859-13
                option iso-8859-14
                option iso-8859-15
                option iso-8859-16
                option koi8-r
                option koi8-u
                option macintosh
                option windows-874
                option windows-1250
                option windows-1251
                option windows-1252
                option windows-1253
                option windows-1254
                option windows-1255
                option windows-1256
                option windows-1257
                option windows-1258
                option x-mac-cyrillic
                option gbk
                option gb18030
                option big5
                option euc-jp
                option iso-2022-jp
                option shift_jis
                option euc-kr
                option utf-16be
                option utf-16le
            +licensesId('inputcsvwLicense')                           
            button.btn.btn-primary(form='csvw_input_Form' type="submit") Add
  
      
  div(id='executeMapping' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='executeMapping' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Execute mapping
        div.modal-body
          form(role='form')
            div.form-group
              label Select triples  
              div(class="well triplewell")
                div 
                    label  
                        input(id='selectAllCheckbox' type="checkbox") 
                        | Select all
                div(id='triplelistdiv' class='workbenchElement')  
                script#triplelist(type='text/template').
                    <div>
                        <label> 
                            <input class='radioTriple' id='radioAllTriples' type="checkbox">     
                            <%= triplename %>
                        </label>
                    </div>                       
            div(id='executeMappingButtonDiv' class='workbenchElement')      
              script#executeMappingButton(type='text/template').
                <button class='btn btn-primary' data-dismiss="modal" >Execute</button>
           

  div(id='upload-source' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload a source file
        div.modal-body
          form(id='uploadSource_Form' action='/workbench/fetch/input')                  
              
              label(for='source-file-selector') File
              input(id='sourceFile' name='sourceUpload' type='file' data-allowed-file-extensions="['csv','xml']")
              p.help-block All files are supported.
                //+licensesId('sourceUploadLicense')   
              button.btn.btn-primary(id="submitSourceUpload" type='submit') Upload

  div(id='upload-mapping' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload an RML file
        div.modal-body
          form(id='uploadMapping_Form' action='/workbench/fetch/mapping')                  
              
              label(for='mapping-file-selector') File
              input(id='mappingFile' name='mappingUpload' type='file' data-allowed-file-extensions="['rml, 'rml.ttl']")
              p.help-block Only RML files are supported.
                //+licensesId('mappingUploadLicense')   
              button.btn.btn-primary(id="submitMappingUpload" type='submit') Upload
              
   div(id='upload-publishing' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close( aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload RML file
        div.modal-body
          form(id='uploadPublishing_Form' action='/workbench/fetch/rdf')                  
              
              label(for='publishing-file-selector') File
              input(id='publishingFile' name='rdfUpload' type='file' data-allowed-file-extensions="['rdf, ttl']")
              p.help-block TTL & RDF files are supported.
                //+licensesId('mappingUploadLicense')   
              button.btn.btn-primary(id="submitPublishingUpload" type='submit') Upload
              


   div(id='publish' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Publish To LDF Server
        div.modal-body
          form(role='form' id='publishToLDFForm')
            input(type='hidden', name='_csrf', value=_csrf)
            div(class='form-group')
              label(for='title')
                | Title
              input(class='form-control' id='publish_title' placeholder='Enter title')
            div(class='form-group')
              label(for='type')
                | Type
              select(name='type' id='publish_type' form='typeform' class='form-control')
                option(value='HdtDataSource')
                    | HDT file
                option(value='TurtleDatasource')
                    | N-Triples document
                option(value='TurtleDatasource')
                    | Turtle document
                option(value='SparqlDatasource')
                    | SPARQL endpoint
                option(value='JsonLdDatasource')
                    | JSON-LD document
            div(class='form-group')
              label(for='description')
                | Description
              input(class='form-control' id='publish_description' placeholder='Enter description')
            div(id='publish_fileSelector' class='form-group')
              label(for='setting')
                | File
            button(type='submit' id='publish_submit' form="publishToLDFForm" class='btn btn-primary')
                | Publish

   div(id='scheduleModal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Schedule Publishing
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div(class='form-group')
              label(for='title')
                | Title
              input(class='form-control' id='publish_title' placeholder='Enter title')
            div(class='form-group')
              label(for='mapping')
                | Mapping
              select(name='mapping' id='mapping' class='form-control')
                option(value='HdtDataSource')
                  | POPULATE LIST
            div(class='form-group')
              label(for='time')
                | Schedule
              div.input-group 
                | Every
                input(class='form-control' type='number' id='time' value='2') 
                select(name='mapping' id='mapping' class='form-control')
                  option(value='Hour')
                      | Hours
                  option(value='Daily')
                      | Days
                  option(value='Weekly')
                      | Weeks
                  option(value='Monthly')
                      | Months
              p Starting from
              div.input-group.date(id="datetimepicker1")
                input.form-control(type="text")
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
            script. 
              (function($) {
                "use strict";
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  locale: 'en'                  
                });
              });})(jQuery)
            div(class='form-group')
              label(for='description')
                | Description
              input(class='form-control' id='schedule_description' placeholder='Enter description')
            button(type='submit' id='schedule_submit' class='btn btn-primary')
                | Schedule


  ul#myTab.nav.nav-tabs.tabs-left.sideways.primary
      li.active(class="menuTab")
        a(href='#access', data-toggle='tab')
          | Data Access Interface
      li(class="menuTab")
        a(href='#mapping2', data-toggle='tab')
          | Mapping Interface
      li(class="menuTab")
        a(href='#publishing', data-toggle='tab')
          | Publish Interface
      li(class="menuTab")
        a(href='#schedule', data-toggle='tab')
          | Schedule Interface



    #myTabContent.tab-content
      #access.tab-pane.fade.in.active
       br
       div.container-fluid
        div.row
          div.col-md-3
            div(class='panel panel-primary')
              div.panel-heading
                h3.panel-title Menu
              div.panel-body.text-center
                div.btn-group-vertical(role='group')
                  //form(enctype='multipart/form-data' action='/workbench/fetch/input' method='post')
                  button(type='button' class='btn btn-primary btn-lg menubutton' for='source-upload-input' data-toggle='modal' data-target='#upload-source')
                     | Upload Source
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#db-input')
                    | Database
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#dcat-input')
                    | DCAT                   
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#api-input')
                    | Web API
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#sparql-input')
                    | SPARQL
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#csvw-input')
                    | CSVW   
                    
          div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Data Access
               div.panel-body
               
      #mapping2.tab-pane.fade
        br
        div.container-fluid
         div.row
           div.col-md-3
             div(class='panel panel-primary')
               div.panel-heading
                 h3.panel-title Menu
               div.panel-body.text-center
                 div.btn-group-vertical(role='group')
                   
                   button(type='button' class='btn btn-primary btn-lg menubutton' for='mapping-upload-input' data-toggle='modal' data-target='#upload-mapping')
                     | Upload Mapping                   
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#editMapping')
                     | Edit Mapping
                   div(id='mappingmenu' class='workbenchElement')
                   div(id='clearmappingbutton' class='workbenchElement')
                   div(id='clearallmappingsbutton' class='workbenchElement')
                   script#execute(type='text/template').
                     <button type='button' class='btn btn-primary btn-lg menubutton' data-toggle='modal' data-target='#executeMapping'>
                        Execute Mapping
                     </button>     
                   script#clearmapping(type='text/template').
                     <button type='button' class='btn btn-primary btn-lg clearmapping menubutton'>
                        Clear Mapping
                     </button>       
                   script#clearallmappings(type='text/template').
                     <button type='button' class='btn btn-primary btn-lg clearallmappings menubutton'>
                        Clear All Mappings
                     </button>       
           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Mapping
               div.panel-body
                 div.row 
                   div.col-md-3(id='mappingMain' class='workbenchElement')
                     script#mapping-list-item(type='text/template').
                       <h6><%= filename %></h6>                       
                   div.col-md-9(id='mappingContent' class='workbenchElement')
                     script#mapping-content(type='text/template').
                       <%= convertedData %>
      #publishing.tab-pane.fade
        br
        div.container-fluid
         div.row
           div.col-md-3
             div(class='panel panel-primary')
               div.panel-heading
                 h3.panel-title Menu
               div.panel-body.text-center
                 div.btn-group-vertical(role='group')
                   button(type='button' class='btn btn-primary btn-lg menubutton' for='publishing-upload-input' data-toggle='modal' data-target='#upload-publishing')
                     | Upload Dataset 
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#publish')
                     | Publish Dataset
                   div(id='clearpublishingbutton' class='publishElementt')
                   div(id='clearallpublishingsbutton' class='publishElement')
                   script#clearpublishing(type='text/template').
                     <button type='button' class='btn btn-primary btn-lg clearpublishing menubutton'>
                        Clear Dataset
                     </button>       
                   script#clearallpublishings(type='text/template').
                     <button type='button' class='btn btn-primary btn-lg clearallpublishings menubutton'>
                        Clear All Data
                     </button>
           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Publishing
               div.panel-body
                  div.row 
                      div.col-md-3(id='publishMain' class='publishElement')
                        script#publish-list-item(type='text/template').
                          <h6><%= filename %></h6>                       
                      div.col-md-9(id='publishContent' class='publishElement')
                        script#publish-content(type='text/template').
                          <%= convertedData %>

      #schedule.tab-pane.fade
        br
        div.container-fluid
         div.row
           div.col-md-3
             div(class='panel panel-primary')
               div.panel-heading
                 h3.panel-title Menu
               div.panel-body.text-center
                 div.btn-group-vertical(role='group')
                   form(enctype='multipart/form-data' action='/workbench/fetch/input' method='post')                  
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#scheduleModal')
                     | Create New Job

           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Schedules
               div.panel-body
                  div.row 
                      div.col-md-3(id='scheduleMain')
                        script#schedule-list-item(type='text/template').
                          <h6><%= filename %></h6>                       
                      div.col-md-9(id='scheduleContent')
                        script#schedule-content(type='text/template').
                          <%= convertedData %>

