extends ../../layouts/account

block head
  title Workbench
  script(type='text/javascript' src='/vendor/jquery/jquery.js' )
  script(type='text/javascript' src='/vendor/jquery.cookie/jquery.cookie.js')
  script(type='text/javascript' src='/js/jquery.form.js')
  script(type='text/javascript' src='/js/file_uploads.js')
  script(type='text/javascript' src='/vendor/underscore/underscore.js')
  script(type='text/javascript' src='/vendor/backbone/backbone.js')
  script(type='text/javascript' src='/js/backbone/publish/publish.js')
  script(type='text/javascript' src='/js/backbone/publish/file.js')
  script(type='text/javascript' src='/vendor/bootstrap-select/bootstrap-select.min.js')
  script(type='text/javascript' src='/vendor/momentjs/moment.js')
  script(type='text/javascript' src='/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js')

block neck
  link(rel='stylesheet', href='/vendor/bootstrap-select/bootstrap-select.min.css')
  link(rel='stylesheet', href='/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js')
  link(rel='stylesheet', href='/layouts/rml.css')

block feet
  
  script(src='/views/workbench/index.js')



mixin licensesId(Id)
  div.form-group
    label(for=Id) License
    select.selectpicker.form-control(id=Id data-live-search='true' title="Choose a license.")
      each cat in licenses
        optgroup(label=cat[0].category)
          each l in cat
              option= l.name + ' (' + l.abbreviation + ')'

mixin licenses
  each cat in licenses
    optgroup(label=cat[0].category)
      each l in cat
          option= l.name + ' (' + l.abbreviation + ')'
block body

  div(id='upload-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload an input file
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputFileName') Name
              input.form-control(id='inputFileName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='my-file-selector') File
              input(id='my-file-selector' type='file' data-allowed-file-extensions="['csv', 'xml', 'txt', 'json']")
              p.help-block Only CSV, XML and JSON are supported.
            div.form-group
              label(for='inputFileLicense') License
              select.selectpicker.form-control(id='inputFileLicense' data-live-search='true' title="Choose a license.")
                +licenses
            button.btn.btn-primary(id="btn_file_input") Upload

  div(id='db-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='databaseInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Connect to a Database
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputDBName') Name
              input.form-control(id='inputDBName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputDBURL') URL
              input.form-control(id='inputDBURL' type='text' placeholder='url')
            div.form-group
              label(for='inputDBPass') Username
              input.form-control(id='inputDBPass' type='password' placeholder='user')
            div.form-group
              label(for='inputDBPass') Password
              input.form-control(id='inputDBPass' type='password' placeholder='password')
            div.form-group
              label(for='inputDBLicense') License
              select.selectpicker.form-control(id='inputDBLicense' data-live-search='true' title="Choose a license.")
                +licenses
            button.btn.btn-primary(id="btn_db_input") Connect

  div(id='api-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='apiInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Connect to an API
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='inputAPIName') Name
              input.form-control(id='inputAPIName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputAPIURL') Template URL
              input.form-control(id='inputAPIURL' type='text' placeholder='url')
            //div.form-group
              label(for='inputTemplateParam') Template Parameter
              input.form-control(id='inputTemplateParam' type='text' placeholder='{example}')
              label
                input(type='checkbox')
                | Required
            div.form-group
              label(for='inputAPILicense') License
              select.selectpicker.form-control(id='inputAPILicense' data-live-search='true' title="Choose a license.")
                +licenses
            button.btn.btn-primary(id="btn_db_input") Connect

  div(id='sparql-input' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='sparqlInputLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Connect to an SPARQL endpoint
        div.modal-body
          form(role='form')
            div.form-group
              label(for='inputSparqlName') Name
              input.form-control(id='inputSparqlName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='inputSparqlURL') Source
              input.form-control(id='inputSparqlURL' type='text' placeholder='URL')
            div.form-group
              label(for='inputSparqlType') Type
              select.selectpicker.form-control(id='inputSparqlType' title='Type')
                option JSON
                option XML
                option CSV              
            div.form-group
              label(for='inputSparqlIterator') Iterator
              input.form-control(id='inputSparqlIterator' type='text' placeholder='/')
            div.form-group
              label(for='inputSparqlQuery') DataQuery
              textarea.form-control(id='inputSparqQuery' rows="2")      
            +licensesId('inputSparqlLicense')                           
            button.btn.btn-primary(id="btn_db_input") Connect
           

  div(id='upload-mapping' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='AreTheseUsed' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(action='/workbench/fetch/mapping' type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Upload an RML file
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div.form-group
              label(for='mappingFileName') Name
              input.form-control(id='mappingFileName' type='text' placeholder='Descriptive name')
            div.form-group
              label(for='mapping-file-selector') File
              input(id='mapping-file-selector' type='file' data-allowed-file-extensions="['csv', 'xml', 'txt', 'json']")
              p.help-block Only RML files are supported.
            +licensesId('mappingUploadLicense')   
            button.btn.btn-primary(id="btn_file_input") Upload


   div(id='publish' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Publish To LDF Server
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div(class='form-group')
              label(for='title')
                | Title
              input(class='form-control' id='publish_title' placeholder='Enter title')
            div(class='form-group')
              label(for='type')
                | Type
              select(name='type' id='publish_type' form='typeform' class='form-control')
                option(value='HdtDataSource')
                    | HDT file
                option(value='TurtleDatasource')
                    | N-Triples document
                option(value='TurtleDatasource')
                    | Turtle document
                option(value='SparqlDatasource')
                    | SPARQL endpoint
                option(value='JsonLdDatasource')
                    | JSON-LD document
            div(class='form-group')
              label(for='description')
                | Description
              input(class='form-control' id='publish_description' placeholder='Enter description')
            div(id='publish_fileSelector' class='form-group')
              label(for='setting')
                | File
            button(type='submit' id='publish_submit' class='btn btn-primary')
                | Publish


   div(id='scheduleModal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' style='display: none;')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Schedule Publishing
        div.modal-body
          form(role='form')
            input(type='hidden', name='_csrf', value=_csrf)
            div(class='form-group')
              label(for='title')
                | Title
              input(class='form-control' id='publish_title' placeholder='Enter title')
            div(class='form-group')
              label(for='mapping')
                | Mapping
              select(name='mapping' id='mapping' class='form-control')
                option(value='HdtDataSource')
                  | POPULATE LIST
            div(class='form-group')
              label(for='time')
                | Schedule
              div.input-group 
                | Every
                input(class='form-control' type='number' id='time' value='2') 
                select(name='mapping' id='mapping' class='form-control')
                  option(value='Hour')
                      | Hours
                  option(value='Daily')
                      | Days
                  option(value='Weekly')
                      | Weeks
                  option(value='Monthly')
                      | Months
              p Starting from
              div.input-group.date(id="datetimepicker1")
                input.form-control(type="text")
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
            script. 
              (function($) {
                "use strict";
              $(function() {
                $('#datetimepicker1').datetimepicker({
                  locale: 'en'                  
                });
              });})(jQuery)
            div(class='form-group')
              label(for='description')
                | Description
              input(class='form-control' id='schedule_description' placeholder='Enter description')
            button(type='submit' id='schedule_submit' class='btn btn-primary')
                | Schedule


  ul#myTab.nav.nav-tabs.tabs-left.sideways.primary
      li.active
        a(href='#access', data-toggle='tab')
          | Data Access Interface
      li
        a(href='#mapping2', data-toggle='tab')
          | Mapping Interface
      li
        a(href='#publishing', data-toggle='tab')
          | Publish Interface
      li
        a(href='#schedule', data-toggle='tab')
          | Schedule Interface



    #myTabContent.tab-content
      #access.tab-pane.fade.in.active
       br
       div.container-fluid
        div.row
          div.col-md-3
            div(class='panel panel-primary')
              div.panel-heading
                h3.panel-title Menu
              div.panel-body.text-center
                div.btn-group-vertical(role='group')
                  form(enctype='multipart/form-data' action='/workbench/fetch/input' method='post')
                  input(type='hidden', name='_csrf', value=_csrf)
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#upload-input')
                    | Upload Dataset
                  //label(class='btn btn-primary btn-lg')
                    | Upload Dataset
                    input(type='file' name='sourceUpload' style='display:none;' data-allowed-file-extensions="['rml.ttl', 'rml', 'ttl']")
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#sparql-input')
                    | SPARQL
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#db-input')
                    | Database
                  button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#api-input')
                    | Web API
          div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Data Access
               div.panel-body
               
      #mapping2.tab-pane.fade
        br
        div.container-fluid
         div.row
           div.col-md-3
             div(class='panel panel-primary')
               div.panel-heading
                 h3.panel-title Menu
               div.panel-body.text-center
                 div.btn-group-vertical(role='group')
                   form(id='mapping-upload-form' enctype='multipart/form-data' action='/workbench/fetch/mapping' method='post')
                     input(type='hidden', name='_csrf', value=_csrf)
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#upload-mapping')
                     | Upload Mapping
                   input(type='file' id='mapping-upload-input' name='mappingUpload' style='display:none;' data-allowed-file-extensions="['rml.ttl', 'rml', 'ttl']")
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#editMapping')
                     | Edit Mapping
                   div(id='mappingmenu')
                   script#execute(type='text/template').
                     <button type='button' class='btn btn-primary btn-lg executemapping'>
                        Execute Mapping
                     </button>                   
           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Mapping
               div.panel-body
                 div.row 
                   div.col-md-2(id='mappingMain')
                     script#mapping-list-item(type='text/template').
                       <h5><%= filename %></h5>                       
                   div.col-md-10(id='mappingContent')
                     script#mapping-content(type='text/template').
                       <%= data %>
      #publishing.tab-pane.fade
        br
        div.container-fluid
         div.row
           div.col-md-3
             div(class='panel panel-primary')
               div.panel-heading
                 h3.panel-title Menu
               div.panel-body.text-center
                 div.btn-group-vertical(role='group')
                   form(enctype='multipart/form-data' action='/workbench/fetch/input' method='post')
                   input(type='hidden', name='_csrf', value=_csrf)
                   label(class='btn btn-primary btn-lg')
                     | Upload Dataset
                     input(type='file' name='sourceUpload' style='display:none;' data-allowed-file-extensions="['rml.ttl', 'rml', 'ttl']")
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#publish')
                     | Publish Dataset
           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Publishing
               div.panel-body
                  div.row 
                      div.col-md-2(id='publishMain')
                        script#publish-list-item(type='text/template').
                          <h5><%= filename %></h5>                       
                      div.col-md-10(id='publishContent')
                        script#publish-content(type='text/template').
                          <%= data %>

      #schedule.tab-pane.fade
        br
        div.container-fluid
         div.row
           div.col-md-3
             div(class='panel panel-primary')
               div.panel-heading
                 h3.panel-title Menu
               div.panel-body.text-center
                 div.btn-group-vertical(role='group')
                   form(enctype='multipart/form-data' action='/workbench/fetch/input' method='post')                  
                   button(type='button' class='btn btn-primary btn-lg' data-toggle='modal' data-target='#scheduleModal')
                     | Create New Job

           div.col-md-9
            div.panel.panel-info
               div.panel-heading
                 h3.panel-title Overview Schedules
               div.panel-body


